# TP NoSQL

Prénom : Miguel

Nom : HURTADO

Pour ce TP noté vous avez à trois heures pour le réaliser et 48 heures pour le finir si besoin. Le rendu final est attendu pour dimanche 29 septembre 2024 à 23 h 59.

Vous serrez évalués sur les requêtes mais également sur la qualité et la propreté du code. Pour chaque question, une réponse présentant les résultats est attendue.

In [3]:
# installation des packages pandas et pymongo
!pip install -r requirements.txt --quiet

In [4]:
import pymongo
import pandas as pd

URI = 'mongodb+srv://mongo_user:RFf9ni2OySUuJ7G2@cluster-but-sd.jbrkh.mongodb.net/?retryWrites=true&w=majority&appName=cluster-but-sd'
client = pymongo.MongoClient(URI)
db = client.tp

# output the name of the collections in the database
print("Collections: ", db.list_collection_names())

Collections:  ['airbnb', 'restaurants']

1. Combien de logements sont la base de données ?

In [10]:
logements = db.airbnb.count_documents({})
print("il y a", (logements), "logements dans la base de données")

il y a 5555 logements dans la base de données

2. Quel est le prix moyen par ville ? Trier les villes par prix décroissant.

In [22]:
prix = db.airbnb.aggregate([
    { "$group": { "_id": "$address.market", "prix_moyen": { "$avg": "$price" }}},
    { "$sort": { "prix_moyen": -1 }}
])

for ville in prix:
    print(ville)

{'_id': 'Hong Kong', 'prix_moyen': Decimal128('762.4781906300484652665589660743134')}
{'_id': 'Rio De Janeiro', 'prix_moyen': Decimal128('525.8059701492537313432835820895522')}
{'_id': 'Other (International)', 'prix_moyen': Decimal128('445.75')}
{'_id': 'Istanbul', 'prix_moyen': Decimal128('367.9454545454545454545454545454545')}
{'_id': 'Kauai', 'prix_moyen': Decimal128('288.8208955223880597014925373134328')}
{'_id': 'Maui', 'prix_moyen': Decimal128('286.5882352941176470588235294117647')}
{'_id': 'Oahu', 'prix_moyen': Decimal128('212.2964426877470355731225296442688')}
{'_id': 'Sydney', 'prix_moyen': Decimal128('197.7142857142857142857142857142857')}
{'_id': 'The Big Island', 'prix_moyen': Decimal128('179.4604316546762589928057553956835')}
{'_id': 'New York', 'prix_moyen': Decimal128('139.6260296540362438220757825370675')}
{'_id': 'Other (Domestic)', 'prix_moyen': Decimal128('128.00')}
{'_id': '', 'prix_moyen': Decimal128('115.50')}
{'_id': 'Barcelona', 'prix_moyen': Decimal128('100.9477848101265822784810126582278')}
{'_id': 'Montreal', 'prix_moyen': Decimal128('100.2330246913580246913580246913580')}
{'_id': 'Porto', 'prix_moyen': Decimal128('69.12815884476534296028880866425993')}

3. Afficher la liste de tous les différents équipements qui existent.

In [44]:
equip = db.airbnb.aggregate([
    { "$unwind": "$amenities" },  
    { "$group": { "_id": "$amenities" } },  # Groupe les équipements distincts
    { "$sort": { "_id": 1 } }  # Trie par ordre alphabétique
])


pd.DataFrame(list(equip))

                                            _id
0
1                              24-hour check-in
2                         Accessible-height bed
3                      Accessible-height toilet
4                              Air conditioning
..                                          ...
181                                        Wifi
182                               Window guards
183                                      toilet
184  translation missing: en.hosting_amenity_49
185  translation missing: en.hosting_amenity_50

[186 rows x 1 columns]

4. Combien de propriétés incluent le Wifi dans les équipements ?

In [84]:
wifi = db.airbnb.count_documents({ "amenities": "Wifi" })
print("il y a",(wifi), "propriétés avec le wifi comme équipement")

il y a 5303 propriétés avec le wifi comme équipement

5. Afficher le nom de tous les logements ainsi que le nombre de chambres et de lits qu'ils contiennent (ne pas afficher l'ID)

In [90]:
nom = db.airbnb.find(
    {},
    { "_id": 0 , "name": 1, "bedrooms": 1, 
  "beds": 1 }
)
pd.DataFrame(list(nom))

                                                  name  bedrooms  beds
0                          Apt Linda Vista Lagoa - Rio       1.0   1.0
1                   Ótimo Apto proximo Parque Olimpico       2.0   2.0
2                       Modern Spacious 1 Bedroom Loft       1.0   2.0
3     Ligne verte - à 15 min de métro du centre ville.       0.0   1.0
4                              Ribeira Charming Duplex       3.0   5.0
...                                                ...       ...   ...
5550     Estudio en el casco antiguo. Alquiler mensual       0.0   3.0
5551  Qto Aconchegante no em frente ao Parque Olímpico       1.0   1.0
5552                  StayIN Oporto Música - Apartment       8.0   8.0
5553                                      Quarto Legal       1.0   1.0
5554                                                         1.0   1.0

[5555 rows x 3 columns]

6. Afficher le nom et le prix des logements situés à Porto.

In [92]:
porto = db.airbnb.find(
    { "address.market": { "$in": [ "Porto" ] }},
    { "_id": 0, "name": 1, "price" : 1 }
)
pd.DataFrame(list(porto))

                                    name   price
0                Ribeira Charming Duplex   80.00
1                      Be Happy in Porto   30.00
2    Downtown Oporto Inn (room cleaning)   40.00
3                         FloresRooms 3T   31.00
4     A Casa Alegre é um apartamento T1.   40.00
..                                   ...     ...
549         Number283 - Your home abroad   48.00
550        Cozy apartment downtown Porto   58.00
551                   Soares Guest House   90.00
552   Central, Modern, University, Metro   41.00
553     StayIN Oporto Música - Apartment  500.00

[554 rows x 2 columns]

7. Quels sont les 5 hôtes les plus populaires (ceux dont les propriétés ont reçu le plus de commentaires) ?

In [110]:
top5 = db.airbnb.aggregate([
    { "$sortByCount": "$review_scores.review_scores_rating" },
    { "$limit": 5 }
])
pd.DataFrame(list(top5))

     _id  count
0    NaN   1474
1  100.0    982
2   98.0    291
3   96.0    286
4   97.0    281

8. Quelles sont les 6 villes ayant le plus de logements disponibles à la location ?

In [112]:
top6 = db.airbnb.aggregate([
    { "$sortByCount": "$address.market" },
    { "$limit": 6 }
])
pd.DataFrame(list(top6))

         _id  count
0   Istanbul    660
1   Montreal    648
2  Barcelona    632
3  Hong Kong    619
4     Sydney    609
5   New York    607

9. Combien de propriétés acceptent plus de 4 invités et ont une caution de moins de 300€ ?

In [12]:
proprietes = db.airbnb.count_documents({
    "accommodates": { "$gt": 4 },
    "security_deposit": { "$lt": 300 }
})
print("Il y a", proprietes, "propriétés qui acceptent plus de 4 invités et ont une caution de moins de 300€")

Il y a 451 propriétés qui acceptent plus de 4 invités et ont une caution de moins de 300€

10. Donner les 20 utilisateurs qui ont fait le plus de commentaires (afficher seulement l'ID et le nom de l'utilisateur).

In [46]:
utilisateurs = db.airbnb.aggregate([
    { "$unwind": "$reviews" },  # Décompose chaque commentaire
    { "$group": {
        "_id": "$reviews.reviewer_id",  # Groupe par ID utilisateur
        "nom_utilisateur": { "$first": "$reviews.reviewer_name" },  # Récupère le premier nom
        "total_commentaires": { "$sum": 1 }  # Compte les commentaires
    }},
    { "$sort": { "total_commentaires": -1 } },  # Trie par nombre de commentaires décroissant
    { "$limit": 20 }  # Limite à 20 résultats
])

# Convertir en DataFrame pour affichage
pd.DataFrame(list(utilisateurs))

          _id nom_utilisateur  total_commentaires
0    20775242          Filipe                  24
1    67084875            Nick                  13
2     2961855             Uge                  10
3    20991911            Lisa                   9
4   162027327           Thien                   9
5     1705870           David                   8
6    60816198            Todd                   8
7    55241576        Courtney                   8
8    12679057            Jodi                   8
9    69140895            Lisa                   8
10   78093968           David                   7
11   47303133           Lance                   7
12   34005800             Dan                   6
13   93859831          Pierre                   6
14   61469899            Erik                   6
15   73708321         Gonzalo                   6
16   86665925           Chris                   6
17  128210181         Branden                   6
18   25715809           Megan                   6
19   76782210           Assis                   6

11. Parmi les logements à Sydney, quel est la note moyenne des visiteurs ?

In [48]:
sydney = db.airbnb.aggregate([
    { "$match": { "address.market": "Sydney" } },  
    { "$group": { 
        "_id": None,  
        "note_moyenne": { "$avg": "$review_scores.review_scores_rating" }  
    }}
])


for note in sydney:
    print("La note moyenne des visiteurs à Sydney est:", note["note_moyenne"])

La note moyenne des visiteurs à Sydney est: 93.45567010309279

12. (bonus) Afficher les logements qui contiennent le mot "park" dans leur nom

In [50]:
logements_park = db.airbnb.find(
    { "name": { "$regex": "park", "$options": "i" } },  
    { "_id": 0, "name": 1 }  
)


for logement in logements_park:
    print(logement)

{'name': 'Sydney Hyde Park City Apartment (checkin from 6am)'}
{'name': 'UWS Brownstone Near Central Park'}
{'name': 'Triple room Barcelona Guell park'}
{'name': 'Park Guell apartment with terrace'}
{'name': 'aOceanside Hawaii Apartment Studio Kitchen Parking'}
{'name': 'Charming Spacious Park Slope Studio'}
{'name': 'Studio convenient to CBD, beaches, street parking.'}
{'name': 'The Ohana at Volcanoes National Park!'}
{'name': 'Luxury 1 Bedroom Central Park Views'}
{'name': 'Spacious, Sunny Room in Park Slope'}
{'name': 'Porto Beach & Central Park'}
{'name': 'Park Slope Apt:, Spacious 2 bedroom'}
{'name': 'AMAZING VIEWS PENTHOUSE PARK GUELL'}
{'name': 'Large, Airy Walk-Up With Rooftop Near the Park'}
{'name': 'Lachine room+Free parking+Airport'}
{'name': 'Heart of Honolulu, 2BD gem! Free Garage Parking!'}
{'name': 'Apartment in the centre with parking'}
{'name': 'Chic condo downtown.Patio + Parking'}
{'name': 'Modern NYC Studio Apartment Near Central Park!'}
{'name': 'Nice Small Studio Near Cntrl Park(Shared Bathroom)'}
{'name': 'VERY LARGE 5 Bedroom Home, free onsite parking'}
{'name': 'Perfect in Park Slope: EZ 2 NYC'}
{'name': 'TPC - Flying Leaves Balcony (free parking)'}
{'name': 'Sydney Olympic Park High Level Stunning View Apt'}
{'name': 'Beachfront/Ocean, Parking - Waikiki Shore #1208'}
{'name': '3 Bedroom / Ocean views / Free Parking - Waikiki'}
{'name': 'Private Room Couch close to Central Park'}
{'name': 'Doorman, modern apart. on Broadway (Central Park)'}
{'name': 'Bright,cozy,quiet,walking distance metro,park ...'}
{'name': 'Apartment located near Guell park'}
{'name': 'Park slope,  floor through garden apartment'}
{'name': 'Hale Ohia: Peaceful Escape Close to National Park'}
{'name': '5 STARS DOWNTOWN with PARKING ( 2BDR )BELL Center'}
{'name': '[Parking]  Beautiful Flat in Downtown Montréal'}
{'name': 'Private Studio closed to town w/ compact parking'}
{'name': 'Huge kid-friendly Brooklyn home with parking/patio'}
{'name': 'Harlem Parkside - 1 cozy bedroom'}
{'name': 'Amazing view Apt@ Olympic park'}
{'name': 'Only 10 mins to CENTRAL PARK! :)'}
{'name': 'Cosy Sunset View & Waterfront Apt + Free Parking'}
{'name': 'HEART OF WAIKIKI 1-bdrm w/ FREE PARKING!!'}
{'name': 'Upper West 2BR, Met, Lincoln Center, Central Park'}
{'name': 'Delicious Apart (heart of downtown)/1 Free Parking'}
{'name': 'MS608 Waikiki Hotspot, w/ Free Parking'}
{'name': 'Sunny and bright 2 bedrooms + Free Private Parking'}
{'name': '**Brand New**Luxe Centennial Parkside Retreat**'}
{'name': 'Private room w/private bathroom near Central Park!'}
{'name': 'Free Parking! North Star Flats@Ribeira & Cellars 1'}
{'name': 'Coney Island MCU Park Wi fi Cable Apt****'}
{'name': 'Central Park North $140 - 1 BR with yard'}
{'name': 'Refreshing and Well-located Apt. w/Parking space!'}
{'name': 'Cozy, separated living room in Prospect Park, NYC'}
{'name': 'Luxury condo with free indoor parking'}
{'name': 'Bright & spacious 2 bed near Molson Park w/parking'}
{'name': 'Newly renovated cosy apartment with parking'}
{'name': 'Clean, bright & cozy bedroom /w convenient parking'}
{'name': 'Pedro Cem Apartment With Free Parking and Terrace.'}
{'name': "Sea Views & Porto's City Park - Ocean Windows Flat"}
{'name': 'Best location downtown + free parking - Esperanza'}
{'name': 'Industrial style & Chic space near Central Park'}
{'name': "Palacio Garden's Apartment (Free parking)"}
{'name': 'Location + Value in the heart of Lahaina + Free Parking and WiFi + Free Activities'}
{'name': '2 Bedroom Beachfront with Parking'}
{'name': '2458 - AB Park Güell Apartment 4-3 - Wonderful 3-Bedroom Apartment near Park Güell with a Balcony'}
{'name': 'Waikiki Ocean View! Great Location! Free Parking'}
{'name': '2447 - AB Park Güell Apartment 1-1 - Elegant 4-Bedroom Apartment near Park Güell with a Balcony'}
{'name': 'Duo· Sleeps 9! 4Bedroom/2Bath/2Kitchen/2Parking'}
{'name': '1 BDRM IN WWP - CLOSE TO OLYMPIC PARK - WENT1610'}
{'name': 'Spacious new flat by HEC, UdeM & JGH. WiFi & Park.'}
{'name': 'Charming 2 bedroom Appartement 1st floor -Parking!'}
{'name': 'Close to park and sea: Light and airy family apt'}
{'name': 'OVERLOOKING BEACH 2 BED WIFI PARKING'}
{'name': 'Sand Sun Surf w Parking. City 9km'}
{'name': 'Convenient in Heart of the City **FREE PARKING**'}
{'name': 'Charming apartment facing Laurier park'}
{'name': 'CENTRAL PARK, NYC APT'}
{'name': 'Suitable and centric apartment at Milton Park'}
{'name': 'Delightful Downtown with View★Parking★Jacuzzi★Pool'}
{'name': 'Manly Haven- Best Location with carpark'}
{'name': 'THE BEST Home ** PARKINGS **5beds,12guests,3bdroom'}
{'name': 'MILE-END ☀️Near MONTROYAL park☀️ FREE PARKING'}
{'name': '7 guests at ville St-Laurent, with parking spot'}
{'name': 'Free Parking! North Star Flats@Ribeira & Cellars 5'}
{'name': 'Your place for Sea, Cellars & Porto! (parking inc)'}
{'name': 'Volcano Dancing Ferns Estate - Minutes from Hawaii Volcanoes National Park! - Volcano Dancing Ferns Estate'}
{'name': '"PalaisDesCongres Condo"OLDMtl/Dt Free Parking'}
{'name': 'Porto-City Park'}
{'name': 'Repos de Ouro  Street of city park'}
{'name': 'Terrace- park view, great location, quiet street.'}
{'name': 'Blue House Apartment 2 • Parking'}
{'name': '1★BEACH HOUSE★ Patio ★ FREE Parking ★ WiFi★W/D ★'}
{'name': 'Cozy Studio With  Balcony (Free Private Parking)'}
{'name': "Free parking free laundry at Dabin's Cozy Home"}
{'name': 'Calm & Cozy 4BR with Parking'}
{'name': 'Grand Opening! 20th Flr. Apt. w/ View and Parking!'}
{'name': 'Makuu Palms Guest House Walk to Beach Park'}
{'name': 'Maison de ville parking et à 2 pas du métro'}
{'name': 'Homa 2 - 1 BR sleep 4 parking - AC'}
{'name': 'Amazing location, room for 3, w. private parking'}
{'name': 'Light Loft | Walk to the Beach | Free Parking'}
{'name': 'Matosinhos Royal Park'}
{'name': 'Super bright apartment in quiet area facing park'}
{'name': 'Sydney Olympic Park Apartment'}
{'name': 'Studio 8.01 with Parking and Air-Conditioning'}
{'name': '2Units2Bedrooms2Bathrooms2ParkingOffPremises'}
{'name': 'Charming 2 Bedroom by Prospect Park'}
{'name': 'House with Park View in Beyoğlu (Taksim)'}
{'name': 'In the heart of the Plateau (Lafontaine Park)'}
{'name': 'Lovely apartment with private parking'}
{'name': 'Top 2 Rooms Apartment w Parking, close Douro River'}
{'name': 'Renovated sunny 3 Bedroom apartment - easy parking'}
{'name': 'Koza Park New Luxury Apartment With Balcony.'}
{'name': 'Quiet spacious 1 bedroom apartment with parking'}
{'name': '5 Bedroom family home in Outremont W/3 Parkings'}
{'name': 'Sunny penthouse with Parking'}
{'name': 'Penthouse Downtown with private indoor parking'}
{'name': 'A Antiga Adega (parking available)'}
{'name': 'Luxury 2 bed 2 bath 1 parking in Allure Waikiki'}
{'name': 'Freshly renovated-3 bedroom-heart of MTL-parking!!'}
{'name': 'Coogee Luxury Home with Salt Water Pool & Parking'}
{'name': 'Views To Die For// Studio Rushcutters Bay // Free Parking'}
{'name': 'New! River Park Apartment. | Douro River view!'}
{'name': 'Free Parking! North Star Flats @ São João'}
{'name': 'Classic French Villa with 4 Parkinks (7# Room)'}
{'name': '*PARKING* Classy, Comfy and Clean Apt near Dtown!'}
{'name': 'Ocean View 1Bdrm at Luana Waikiki w/Free Parking'}
{'name': 'Gorgeous Loft w 14ft ceilings & mezzanine- PARKING'}
{'name': 'Quiet house with parking near downtown Montreal'}
{'name': 'Lux 2 bedroom/2 bath/2 balconies/free parking'}
{'name': '3 Floor Luxury Townhouse, Downtown, W/Free Parking'}
{'name': 'Park Slope beauty'}
{'name': 'Stylish Gramercy Park Duplex LOFT'}
{'name': '1BR+BA IN LXRY CONDO W POOL+PARKING'}
{'name': 'Cozy 1 bdrm Park Slope, Brooklyn,'}
{'name': 'Room w/pvt bathroom on Central Park'}
{'name': 'Sydney Parkside Apartment'}
{'name': 'BEST of Nature:Porto City Park/ocean of Matosinhos'}
{'name': '1 Bedroom Apartment at Hyde Park/Darlinghurst'}
{'name': 'Bright UES Gem Near Central Park'}
{'name': 'Fab Park Slope garden apt w/ patio'}
{'name': '2 Bedroom -guest parking.'}
{'name': 'Carina Park Suites & Residance #2'}
{'name': 'Park Slope Garden Level Studio'}
{'name': 'Lovely home with parking spot!'}
{'name': 'Sunny private room in Park Slope'}
{'name': '2 bedroom + 1 sofa, free car park place'}
{'name': 'Private Park Slope Brooklyn Hideaway'}
{'name': 'Clean & Cozy- Private Room by Park and Subway!'}
{'name': 'Lovely Parkside Federation Home'}
{'name': 'Luxury modern cozy condo Old Port w/ PARKING'}
{'name': 'Upper WestSide NYC Central Park II'}
{'name': 'Bohéme 1BR steps from Prospect Park'}
{'name': 'Central Park 1BR Apt NYC Manhattan'}
{'name': '[4] New BedRm by C.Park and 1,B,C'}
{'name': 'Cozy Apt 10 minutes to Central Park'}
{'name': 'Large and Sunny Private Room near Prospect Park'}
{'name': 'Large Garden Duplex on Park block'}
{'name': 'Charming Studio by Bryant Park'}
{'name': '4BR family home nr beaches and park'}
{'name': '4 bedroom home W/diamond head view w/parking'}
{'name': 'Astoria Room Facing the Park'}
{'name': 'Park Slope Private Bed+Livingroom!'}
{'name': 'Waikiki Condo with Free Parking'}
{'name': 'Sydney Studio in Glebe Close to CBD. SparklinClean'}
{'name': '1921 15kms from Sydney CBD with Pool Spa parking.'}
{'name': 'Big 2bdm, Views, WIFI and carpark'}

13. (bonus) Afficher le nom des logements ayant une lattitude comprise entre 36,1 et 40,6 dont le prix est entre 100 et 200 euros.

In [66]:
logements_filtre = db.airbnb.find(
    {
        "location.coordinates": { "$gte": 36.1, "$lte": 40.6 },  
        "price": { "$gte": 100, "$lte": 200 }  
    },
    { "_id": 0, "name": 1 } 
)

 pd.DataFrame(list(logements_filtre))

IndentationError: unexpected indent (2803278085.py, line 10)