# TP NoSQL

Prénom : Miguel

Nom : HURTADO

Pour ce TP noté vous avez à trois heures pour le réaliser et 48 heures pour le finir si besoin. Le rendu final est attendu pour dimanche 29 septembre 2024 à 23 h 59.

Vous serrez évalués sur les requêtes mais également sur la qualité et la propreté du code. Pour chaque question, une réponse présentant les résultats est attendue.

In [30]:
# installation des packages pandas et pymongo
!pip install -r requirements.txt --quiet

In [31]:
import pymongo
import pandas as pd

URI = 'mongodb+srv://mongo_user:RFf9ni2OySUuJ7G2@cluster-but-sd.jbrkh.mongodb.net/?retryWrites=true&w=majority&appName=cluster-but-sd'
client = pymongo.MongoClient(URI)
db = client.tp

# output the name of the collections in the database
print("Collections: ", db.list_collection_names())

Collections:  ['airbnb', 'restaurants']

1. Combien de logements sont la base de données ?

In [76]:
logements = db.airbnb.count_documents({})
print("il y a", (logements), "logements dans la base de données")

il y a 5555 logements dans la base de données

2. Quel est le prix moyen par ville ? Trier les villes par prix décroissant.

In [48]:
moyen = db.restaurants.aggregate([
    { "$adress": "$market" },
    { "$group": {
        "_id": { : "$_id", "br":  },
        "nb_visites": { "$sum": 1 },
        "score_tot": { "$sum": "$grades.score" }
    }},
    { "$group": {
        "_id": "$_id.br",
        "nb_restaurants": { "$sum": 1 },
        "nb_visites": { "$sum": "$nb_visites" },
        "score_total": { "$sum": "$score_tot" }
    }},
    { "$addFields": {
        "score_moyen": {
            "$divide": [ "$score_total", "$nb_visites" ]
                       }
    }},
    { "$sort": { "score_moyen": 1 }}
])
pandas.DataFrame(list(borough_nb_rest_avg_score)).round(2)

InvalidName: collection names must not contain '$': "airbnb.({'$group': {'_id': '$market', 'average_price': {'$avg': '$price'}}}, {'$sort': {'average_price': -1}})"

3. Afficher la liste de tous les différents équipements qui existent.

In [50]:
equip = db.airbnb.distinct(key='amenities')
print(equip)

['', '24-hour check-in', 'Accessible-height bed', 'Accessible-height toilet', 'Air conditioning', 'Air purifier', 'Alfresco shower', 'BBQ grill', 'Baby bath', 'Baby monitor', 'Babysitter recommendations', 'Balcony', 'Bath towel', 'Bathroom essentials', 'Bathtub', 'Bathtub with bath chair', 'Beach chairs', 'Beach essentials', 'Beach view', 'Beachfront', 'Bed linens', 'Bedroom comforts', 'Bicycle', 'Bidet', 'Body soap', 'Boogie boards', 'Breakfast', 'Breakfast bar', 'Breakfast table', 'Building staff', 'Buzzer/wireless intercom', 'Cable TV', 'Carbon monoxide detector', 'Cat(s)', 'Ceiling fan', 'Central air conditioning', 'Changing table', "Chef's kitchen", 'Children’s books and toys', 'Children’s dinnerware', 'Cleaning before checkout', 'Coffee maker', 'Convection oven', 'Cooking basics', 'Crib', 'DVD player', 'Day bed', 'Dining area', 'Disabled parking spot', 'Dishes and silverware', 'Dishwasher', 'Dog(s)', 'Doorman', 'Double oven', 'Dryer', 'EV charger', 'Electric profiling bed', 'Elevator', 'En suite bathroom', 'Espresso machine', 'Essentials', 'Ethernet connection', 'Extra pillows and blankets', 'Family/kid friendly', 'Fax machine', 'Fire extinguisher', 'Fireplace guards', 'Firm mattress', 'First aid kit', 'Fixed grab bars for shower', 'Fixed grab bars for toilet', 'Flat path to front door', 'Formal dining area', 'Free parking on premises', 'Free street parking', 'Full kitchen', 'Game console', 'Garden or backyard', 'Gas oven', 'Ground floor access', 'Gym', 'Hair dryer', 'Handheld shower head', 'Hangers', 'Heated towel rack', 'Heating', 'High chair', 'Home theater', 'Host greets you', 'Hot tub', 'Hot water', 'Hot water kettle', 'Ice Machine', 'Indoor fireplace', 'Internet', 'Iron', 'Ironing Board', 'Kayak', 'Keypad', 'Kitchen', 'Kitchenette', 'Lake access', 'Laptop friendly workspace', 'Lock on bedroom door', 'Lockbox', 'Long term stays allowed', 'Luggage dropoff allowed', 'Memory foam mattress', 'Microwave', 'Mini fridge', 'Mountain view', 'Murphy bed', 'Netflix', 'Other', 'Other pet(s)', 'Outdoor parking', 'Outdoor seating', 'Outlet covers', 'Oven', 'Pack ’n Play/travel crib', 'Paid parking off premises', 'Paid parking on premises', 'Parking', 'Patio or balcony', 'Permit parking', 'Pets allowed', 'Pets live on this property', 'Pillow-top mattress', 'Pocket wifi', 'Pool', 'Pool with pool hoist', 'Private bathroom', 'Private entrance', 'Private hot tub', 'Private living room', 'Private pool', 'Rain shower', 'Refrigerator', 'Roll-in shower', 'Room-darkening shades', 'Safe', 'Safety card', 'Sauna', 'Self check-in', 'Shampoo', 'Shared pool', 'Shower chair', 'Single level home', 'Ski-in/Ski-out', 'Smart TV', 'Smart lock', 'Smoke detector', 'Smoking allowed', 'Snorkeling equipment', 'Sonos sound system', 'Sound system', 'Stair gates', 'Standing valet', 'Step-free access', 'Stove', 'Suitable for events', 'Sun loungers', 'Swimming pool', 'TV', 'Table corner guards', 'Tennis court', 'Terrace', 'Toaster', 'Toilet paper', 'Walk-in shower', 'Warming drawer', 'Washer', 'Washer / Dryer', 'Waterfront', 'Well-lit path to entrance', 'Wheelchair accessible', 'Wide clearance to bed', 'Wide clearance to shower', 'Wide doorway', 'Wide entryway', 'Wide hallway clearance', 'Wifi', 'Window guards', 'toilet', 'translation missing: en.hosting_amenity_49', 'translation missing: en.hosting_amenity_50']

4. Combien de propriétés incluent le Wifi dans les équipements ?

In [84]:
wifi = db.airbnb.count_documents({ "amenities": "Wifi" })
print("il y a",(wifi), "propriétés avec le wifi comme équipement")

il y a 5303 propriétés avec le wifi comme équipement

5. Afficher le nom de tous les logements ainsi que le nombre de chambres et de lits qu'ils contiennent (ne pas afficher l'ID)

In [90]:
nom = db.airbnb.find(
    {},
    { "_id": 0 , "name": 1, "bedrooms": 1, 
  "beds": 1 }
)
pd.DataFrame(list(nom))

                                                  name  bedrooms  beds
0                          Apt Linda Vista Lagoa - Rio       1.0   1.0
1                   Ótimo Apto proximo Parque Olimpico       2.0   2.0
2                       Modern Spacious 1 Bedroom Loft       1.0   2.0
3     Ligne verte - à 15 min de métro du centre ville.       0.0   1.0
4                              Ribeira Charming Duplex       3.0   5.0
...                                                ...       ...   ...
5550     Estudio en el casco antiguo. Alquiler mensual       0.0   3.0
5551  Qto Aconchegante no em frente ao Parque Olímpico       1.0   1.0
5552                  StayIN Oporto Música - Apartment       8.0   8.0
5553                                      Quarto Legal       1.0   1.0
5554                                                         1.0   1.0

[5555 rows x 3 columns]

6. Afficher le nom et le prix des logements situés à Porto.

In [92]:
porto = db.airbnb.find(
    { "address.market": { "$in": [ "Porto" ] }},
    { "_id": 0, "name": 1, "price" : 1 }
)
pd.DataFrame(list(porto))

                                    name   price
0                Ribeira Charming Duplex   80.00
1                      Be Happy in Porto   30.00
2    Downtown Oporto Inn (room cleaning)   40.00
3                         FloresRooms 3T   31.00
4     A Casa Alegre é um apartamento T1.   40.00
..                                   ...     ...
549         Number283 - Your home abroad   48.00
550        Cozy apartment downtown Porto   58.00
551                   Soares Guest House   90.00
552   Central, Modern, University, Metro   41.00
553     StayIN Oporto Música - Apartment  500.00

[554 rows x 2 columns]

7. Quels sont les 5 hôtes les plus populaires (ceux dont les propriétés ont reçu le plus de commentaires) ?

In [110]:
top5 = db.airbnb.aggregate([
    { "$sortByCount": "$review_scores.review_scores_rating" },
    { "$limit": 5 }
])
pd.DataFrame(list(top5))

     _id  count
0    NaN   1474
1  100.0    982
2   98.0    291
3   96.0    286
4   97.0    281

8. Quelles sont les 6 villes ayant le plus de logements disponibles à la location ?

In [112]:
top6 = db.airbnb.aggregate([
    { "$sortByCount": "$address.market" },
    { "$limit": 6 }
])
pd.DataFrame(list(top6))

         _id  count
0   Istanbul    660
1   Montreal    648
2  Barcelona    632
3  Hong Kong    619
4     Sydney    609
5   New York    607

9. Combien de propriétés acceptent plus de 4 invités et ont une caution de moins de 300€ ?

10. Donner les 20 utilisateurs qui ont fait le plus de commentaires (afficher seulement l'ID et le nom de l'utilisateur).

11. Parmi les logements à Sydney, quel est la note moyenne des visiteurs ?

12. (bonus) Afficher les logements qui contiennent le mot "park" dans leur nom

13. (bonus) Afficher le nom des logements ayant une lattitude comprise entre 36,1 et 40,6 dont le prix est entre 100 et 200 euros.